* { 
    box-sizing: border-box;
}

/*style for the h2 and buttons*/
header {
    width: 500;
    border: 20px solid #284b63; 
    background: #284B63;
    padding: 10px; 
    margin: 30px;
    text-align: center;
}

/*the appearance of the buttons at the top of the page*/
button {
    color: #ffffff;
    background-color: #284b63;
    border-radius: 20%;;
}

/*effects on the links*/
a:link {
    color: #f4f81f;
}

a:visited {
    color: #31dd2b;
}

a:hover {
    color: #02273f;
}

a:active {
    color: #740c0c;
}

/* horizontal page breaks*/
hr {
    border: 3px solid #284b63; 
    border-radius: 5px;
    width: 50%;
}

/* header/title of the website page*/
h1 {
    color: #ffffff;
    text-align: center; 
    font-size: 70px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 4px;
    line-height: 3px;
}

h2 {
    color:  #ffffff;
    text-align: center;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

/*centering all text on the page below the main photo */
p, h3, ul, ol {
    color: #ffffff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 500;
    list-style-position: inside;
    
}

/* placement of the main photo */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    object-fit: scale-down;
  }
